<%- include("partials/header.ejs") %>

<main class="text-start">
<% if (Object.keys(posts).length > 0){ %>
    <h2 class="my-3">Latest Posts</h2>
    <dl>
    <!-- Iterate through blog posts -->
    <% for (titles in posts){ %>
      <a href="/view/<%=posts[titles].title%>" class="text-decoration-none">
        <dt class="titles fs-5">
            <%= posts[titles].title %>
        </dt>
      </a>
      <dd>By <%=posts[titles].author_first %> <%=posts[titles].author_last%></dd>
    <%} %>
    </dl>
    <% } else { %>
    <h2>No posts created yet</h2>
<% } %>
</main>

<%- include("partials/footer.ejs") %>