<%- include("partials/header.ejs") %>
<% var months = ["Jan", "Feb", "March", "April", "May", "June", "July", "August", "Sept", "Oct", "Nov", "Dec"]; %>

<main class="text-start">
<% if (locals.post){ %>
    <h1><%= post["title"] %></h1>
    <p> By <%= post["author_first"] %> <%= post["author_last"]%> </p>
    <div class="d-flex justify-content-between">
        <p class="text-info"> Last updated on <%= months[post["date"].getMonth()] %> 
        <%= post["date"].getDate() %>, <%= post["date"].getFullYear() %></p>
        <a href="/edit-post/<%=post["title"]%>">Edit</a>
    </div>
    <p class="text-body-primary"> <%= post["content"] %></p>
<% } %>
</main>
<%- include("partials/footer.ejs") %>